#imce_mailer #mail-error {
  color: red;
  display: none;
}

#imce_mailer #file-error {
  color: red;
  display: none;
}

#imce_mailer #mail-success {
  color: green;
  display: none;
}

#imce_mailer #imce_email_addresses {
  width: 250px; 
}
